<div id="chatRoom">
    <ul id="chatlist" ng-class="{true:'scrollBottom', false:''}[isShowBottom]">
        <li ng-repeat="msg in msgContent">
            <span class="roomHeader">[{{msg.msgHeader}}]</span>
            <span class="roomUser">{{msg.userName}}</span>:{{msg.content}}
            <img style="max-width:320px" ng-src="{{msg.img}}">
            <video width="320" height="240" controls="controls" ng-class="{true:'hidden', false:''}[msg.isHidden]">
                <source ng-src="{{msg.video | trusted}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <audio controls="controls" ng-class="{true:'hidden', false:''}[msg.isMusicHidden]">
                <source ng-src="{{msg.music | trusted}}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <object width="320" height="240" ng-class="{true:'hidden', false:''}[msg.isFlashHidden]">
                <param name="userFlash" value="">
                <embed ng-src="{{msg.flash | trusted}}" width="320" height="240" name="2" align=""></embed>
            </object>
        </li>
    </ul>
</div>
<div class="bottomChatWrapper">
    <select id="chatMethodSelect" ng-model="selectedChatMethod" ng-options="chatMethod.method for chatMethod in chatMethods" class="bottomChat"></select>
    <input type="text" value="{{inputContent}}" ng-model="inputContent" placeholder="请输入内容" class="bottomChat sendTextBox">
    <button class="bottomChat sendButton" ng-click="sendChatMsg()">发送</button>
</div>
<div class="bottomChatWrapper">
    <button class="bottomChat sendButton" ngf-select ngf-change="sendMedia($files,'img')">发送图片</button>
    <button class="bottomChat sendButton" ngf-select ngf-change="sendMedia($files,'video')">发送视频</button>
    <button class="bottomChat sendButton" ngf-select ngf-change="sendMedia($files,'music')">发送音乐</button>
    <button class="bottomChat sendButton" ngf-select ngf-change="sendMedia($files,'flash')">发送Flash</button>
</div>
<div class="userList">
    <h3>当前房间用户：</h3>
    <ul>
        <li ng-repeat="roomUser in roomUsers" ng-click="selectUser(roomUser)"><a class="roomUserList" title="发送私聊">{{roomUser.userName}}</a></li>
    </ul>
</div>

<object width="320" height="240">
    <param name="userFlash" value="http://192.168.1.39:3000/upload/aaa.swf">
    <embed src="http://192.168.1.39:3000/upload/aaa.swf" width="320" height="240" name="2" align=""></embed>
</object>