/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

[ng-cloak] {
    display: none;
}

#chatRoomList{
    width: 300px;
    height:300px;
    overflow-y: scroll;
    border: 1px solid #408080;
    position: fixed;
    top:50px;
    background:#efefef;
    right: 0;
}
#chatRoomList h1{
    color: #245269;
    font-size: 24px;
}
#chatRoomList ul{
    list-style: none;
}
#chatRoomList li{
    display: block;
    height: 30px;
}
#chatRoomList li a{
    color: #5cb85c;
    font-size: 16px;
}
#chatRoomList li span{
    color: red;
}
.chatroomWrap{
    width: 600px;
    margin:0 auto;
}
.button{
    -webket-appearance:button;
    padding: 10px;
    margin: 10px;
    width: 100px;
    border: 1px solid #aeaeae;
}

#chatRoom{
    height:600px;
    overflow: hidden;
    position:relative;
    border:1px solid #e1e1e1;
    margin:0 auto;
}
#chatRoom ul{
    position: absolute;
    list-style: none;
    padding-left: 10px;
}
#chatRoom li{
    line-height: 24px;
    margin: 5px;
}
#chatRoom .scrollBottom{
    bottom:0;
}
.roomHeader{
    color: #5cb85c
}
.roomUser{
    cursor: pointer;
    color: #B94A48;
}
.roomUser:hover{
    color: #B22A28;
}
.bottomChatWrapper {
    margin-top: 10px;
}

.bottomChat{
    height: 60px;
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
}
.sendTextBox{
    width: 370px;
    text-indent: 20px;
}
.sendButton{
    width: 100px;
    padding: 0;
    margin: 0;
    display: inline-block;
    border-width: 1px;

}
.roomUserList{
    font-size: 18px;
    color: #B94A48;
    line-height: 24px;
    cursor: pointer;

}
.userList{
    border: 2px solid #999;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 150px;
}
.userList ul{
    list-style: none;
}
.roomUserList:hover{
    color: #5cb85c;
}